{% extends "AppBundle:Admin:layout.html.twig" %}

{% block title %}{{ 'title.admin.dashboard' | trans }} :: {{ parent() }}{% endblock %}

{% block content %}
<h1>{{ 'title.admin.dashboard' | trans }}</h1>


{% endblock %}
