<div id="cameraChoose" class="form-group">
</div>
<div id="camera">
</div>
<p>
    <input id="ScanQRStartStop" value="Démarrer / Stop le scan d'un code QR" type="button" class="btn btn-default" /></p>

<h2 id="ScanQRResult"></h2>
<script src="{{ asset('dist/qrcode/jsQRScan.min.js') }}"></script>
<script type="text/javascript">

    //<![CDATA[

    // crée le menu déroulant de choix de la caméra
    var label = document.createElement('label');
    label.setAttribute('for', 'videoInputLst');
    label.innerHTML = 'Scan QRCode';
    document.getElementById('cameraChoose').appendChild(label);

    var s = document.createElement('select');
    s.setAttribute('class', 'form-control')
    s.id = 'videoInputLst';
    document.getElementById('cameraChoose').appendChild(s);

    s.addEventListener('change', function(){
        scanner.VideoInputChange(this.options[this.selectedIndex].value);
    }, false);

    navigator.mediaDevices.enumerateDevices().
    then(function(devices){
        devices.forEach(function(device){
            var s = document.getElementById('videoInputLst')
            if(device.kind == 'videoinput'){
                var o = document.createElement('option');
                o.value = device.deviceId;
                o.text = device.label || 'Caméra '+(s.length + 1);
                s.appendChild(o);
            }
        });
    })
        .catch(function(err){
            console.log(err.name + ": " + error.message);
        });

    // callback scanner
    function retour(qrData){
        document.getElementById('numero').value = qrData;
        document.getElementById('ScanQRResult').innerHTML = '';
        scanner = 0;
        $('#form_search').submit();
        //document.getElementById('ScanQRResult').innerHTML = 'Résultat du scan : '+qrData;

    }
    function _retour(qrData){
        var uri = document.getElementById('json').getAttribute('data-href');
        $.ajax({
            url: uri,
            method: 'POST',
            dataType: 'json',
            data: 'game={{ game.id }}&qrData='+qrData,
            success: function(response) {
                console.log(response);
                document.getElementById('numero').value = qrData;
                if(response.status)
                {
                    document.getElementById('json').innerHTML = response.message;

                    window.location.reload();
                }
                else {
                    document.getElementById('json').innerHTML = response.message;
                }

            },
            error: function(xhr, status, error)
            {
                document.getElementById('json').innerHTML = error;
            }
        });

        document.getElementById('json').innerHTML = qrData;
        document.getElementById('ScanQRResult').innerHTML = 'Résultat du scan : '+qrData;
        scanner = 0;
    }

    function retourError(){
        document.getElementById('ScanQRResult').innerHTML = 'Aucun QR trouvé';
        scanner.Stop();
        scanner = 0;
    }

    // init scanner
    var scanner = 0;
    document.getElementById('ScanQRStartStop').addEventListener('click', function(ev){
        if(scanner){
            document.getElementById('ScanQRResult').innerHTML = '';
            scanner.Stop();
            scanner = 0;

        }else{
            document.getElementById('ScanQRResult').innerHTML = 'Scan en cours...';
            scanner = new jsQRScan({
                'id': 'camera',
                'width': 320,
                'height': 240,
                'streamId': document.getElementById('videoInputLst').options[document.getElementById('videoInputLst').selectedIndex].value,
                'callbackSuccess': retour,
                'callbackEnd': retourError
            });
        }
    }, false);

    //]]>
</script>
<style>
    #camera {
        width: 100%;
    }
</style>