$color_grey: #666666;
html, body {
  background: #2B3E50;
  .main {
    background: inherit;
    color: white;

    .modal {
      color: $color_grey;
      input {
        background: #eee;
        border-bottom: 1px solid #ccc;
      }
    }

    .my-panel {
      background: white;
      color: $color_grey;
      box-shadow: 5px 5px 5px #333;
    }
  }
}
.jumbotron {
  background: #4E5D6C;
}
.customer-details {
  background:  white;
  color: #666666;
  border: none;
}

.fidelity-card {
  box-shadow: 5px 5px 8px #333;
}

.panel {
  color: $color_grey;
}