* {
  box-sizing: border-box;
}
.fidelity-card {
  $padding : 10px;
  position: relative;
  width: 100%;
  max-width: 480px;
  height: 280px;
  border: 1px solid #333;
  border-radius: 5px;
  padding: $padding;
  display: flex;
  background-image:linear-gradient(60deg, #438fcf, #254f72);
  color: white;
  box-shadow: 5px 5px 8px #666;
  .block-left {
    width: 100px;
    .photo {
      width: 100%;
      border: 1px solid #666;
      height: 100px;
      margin-bottom: 10px;
      overflow: hidden;
      background: url("/web/img/default-avatar.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      img {
        width: inherit;
      }
    }
    .qrcode {

    }
    .code {
      padding: 5px auto;
      font-size: 1.1em;
      font-weight: bold;
      width: 100%;
      text-align: center;
    }
  }

  .block-right {
    padding: 0 15px;
    .card-title {
      padding: 0;
        font-size: 1.5em;
        font-weight: bold;
    }
    .card-identity {
      font-size: 0.8em;
    }
  }

  .card-footer {
    position: absolute;
    bottom: 0;
    height: 20px;
    background: black;
    width: 100%;
    margin-left: -$padding;
    font-size: 0.9em;
    color: white;
    text-align: center;
  }
}

$avatar_edge: 55px;
.avatar {
  width: $avatar_edge;
  height: $avatar_edge;
  border: 1px solid #ccc;
  display: inline-block;
  overflow: hidden;
  position: relative;
  background-image: url('/web/img/default-avatar.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  img
  {
    position: absolute;
    width: inherit;
  }

}
.round-avatar {
  border-radius: 50px;
}

.block-avatar
{
  width: 100px;
  position: relative;
  img {
    width:inherit;
  }
  .remove-avatar {
    width: 25px;
    height:25px;
    text-align: center;
    position: absolute;
    z-index: 2;
    top:-3px;
    right:-3px;
    border: 2px solid #666666;
    background: #ffffff;
    border-radius: 25px;
    display: none;
  }
}
.card-list {
  .card-number {
    font-family: "Courier New", sans-serif;
  }
  .stroken {
    text-decoration: line-through;
  }

}
.text-bold {
  font-weight: bold;
}