{# Formulaire pour ajouter une card a un Customer#}
{{ form_start(form) }}
{{ form_widget(form) }}
    <button type="submit" class="btn btn-primary btn-fill"><i class="fa fa-link"></i> {{ 'btn.link' }}</button>
{{ form_end(form) }}