{% extends "AppBundle:Account:account.layout.html.twig" %}

{% block title %}{{ parent() }} > {{ 'Edit account' | trans }}{% endblock %}

{% block content %}
    <h1>{{ 'Edit account' | trans }}</h1>
    <legend></legend>
{% endblock %}

