{% extends '::base.html.twig' %}

{% block title %}{{ parent() }} > {{ 'Edit account' | trans }}{% endblock %}

{% block jobotron %}
<div class="jumbotron">
    <div class="container">
        <h1>{{ app_name }}</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">See more</a></p>
    </div>
</div>
{% endblock %}
{% block body %}
<h1>Welcome to {{ app_name }}</h1>
{% endblock %}


